<mat-toolbar color="primary" class="mat-elevation-z2">
    <span>My Players</span>

    <span fxFlex="1 1 auto"></span>

    <div *ngIf="isAdmin">
        <button mat-button routerLink="home">Meus Jogadores</button>
        <button mat-button routerLink="my-teams">Meus Times</button>
    </div>

    <button mat-button (click)="logout()">Logout</button>

</mat-toolbar>
