<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">

    <form [formGroup]="formLogin">
        <h2 fxFill style="text-align: center;">My Players</h2>
        <div fxLayout="row">
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput formControlName="username" />
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <button mat-raised-button color="primary" fxFill type="button" [disabled]="formLogin.invalid" (click)="login()">Entrar</button>
        </div>
    </form>

</div>